extends layout

block content
  div.content
    h1 #{title}

    form(method='POST' action='')
        div
          label(for='password') Secret Password:
          input#password(type='password', placeholder='' name='password')
        button(type='submit') Confirm
    if error
        ul(class='errors')
            li!= 'Wrong password'