extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div
      label(for='username') Your Mail:
      input#mail(type='text', placeholder='' name='username')
      label(for='password') Password:
      input#password(type='password', placeholder='' name='password')

    button(type='submit') Confirm
  if error
   ul(class='errors')
    li!= 'Incorrect password'